.row.display-flex {
    display: flex;
    flex-wrap: wrap
}
.thumbnail {
    height: 100%
}
.thumbnail {
    display: flex;
    flex-direction: column
}
.thumbnail .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}
.post-list-item {
    margin-bottom: 20px
}